body {
	width: 100vw;
	height: 100vh;
	color: #eee;
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	text-align: center;
}

h2 {
	text-align: center;
}

.btn-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 1rem;
}

.btn {
	padding: 1rem;
	border: 1px solid #fff;
	font-size: 1.2rem;
	color: white;
	border-radius: 1rem;
	cursor: pointer;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}
